<div class="container-fluid">

    <tabset #staticTabs>
        <tab heading="Exercise type">
            <app-exercise-type></app-exercise-type>
        </tab>
        <tab heading="Exercises">
            <app-exercises></app-exercises>
        </tab>
        <tab heading="Rounds">
            <app-rounds></app-rounds>
        </tab>
        <tab heading="Workout type">
            <app-workout-type></app-workout-type>
        </tab>
        <tab heading="Workouts">
            <app-workouts></app-workouts>
        </tab>
    </tabset>

</div>